@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes startingSpinner {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}