@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --color-header: #f7f7f7;
  --color-divider: #eeeeee;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #333333;
  overscroll-behavior: contain;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

/* Token container, holds token items */

/* Header at the top */
.header {
  display: flex;
  height: 160px;
  width: 100%;
  background-color: var(--color-header);
  padding: 24px;
  align-items: center;
}

/* Token items */
.tokenItem {
  position: relative;
  display: flex;
  width: 100%;
  height: 96px;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-bottom: 1px solid var(--color-divider);
  opacity: 0;
  animation: fadeInUp 0.4s ease;
  animation-fill-mode: forwards;
}

.tokenItem-icon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-color: var(--color-header);
  background-size: contain;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: 16px;
}

.tokenItem-leftContent {
	flex:  1 1 auto;
  display:  flex;
  flex-direction: column;
}

.tokenValue {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.tokenName,
.tokenSymbol {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.tokenSymbol {
  opacity: 0.5;
  margin-left: 8px;
}

.tokenChange {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* This should be removed later*/
.button {
  position: relative;
  display: inline-block;
  background-color: blue;
  color: #fff;
  padding: 0 16px;
  height: 40px;
  max-width: 200px;
  line-height: 40px;
  border-radius: 40px;
  margin-top: 16px;
  opacity: 0;
  transform: translateY(20%);
  transition: all 0.3s ease;
}

.button span {
  opacity: 1;
  transition: all 0.3s ease;
}

/* All tokens list with all the tokens so user can add tokens to the list */
.allTokens-container {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

.allTokens-container input {
  background-color: blue;
}

.allTokens-list li {
  height: 48px;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--color-divider);
}

/* Started states */
.started .button {
  opacity: 1;
  transform: translateY(0);
}

/* Loading states */
.loading .button {
  max-width: 40px;
}

.loading .button span {
  opacity: 0;
}

/* Adding tokens */
.addingTokens .allTokens-container {
  display: block;
  pointer-events: all;
}