@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --color-header: #f7f7f7;
  --color-divider: #eeeeee;
  --color-interaction: blue;
  --easing-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #333333;
  overscroll-behavior: contain;
  min-height: 100vh;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

/* General buttons */
.button {
  background-color: var(--color-interaction);
  color: #fff;
  padding: 0 16px;
  height: 40px;
  max-width: 200px;
  line-height: 40px;
  border-radius: 40px;
}

.button.secondary {
  background-color: #fff;
  border: 1px solid var(--color-interaction);
  color: var(--color-interaction);
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  
}

/* Header at the top */
.header {
  display: flex;
  height: 160px;
  width: 100%;
  background-color: var(--color-header);
  padding: 24px;
  align-items: center;
  margin-bottom: 16px;
}

.actionbar {
  width: 100%;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.actionbar .settings {
  position: relative;
  display: flex;
  border: 1px solid var(--color-interaction);
  height: 40px;
  width: 114px;
  border-radius: 40px;
  padding: 0 8px;
  color: var(--color-interaction);
  margin-left: auto;
  transition: width 0.4s var(--easing-easeOutBack);
}

.actionbar .settings .settings-currencies, .actionbar .settings .settings-time {
  display: flex;
  height: 40px;
}

.actionbar .settings .divider {
  position: absolute;
  left: 50%;
  top: 12px;
  width: 1px;
  height: 16px;
  background-color: var(--color-interaction);
}

/* The options for time and currency */
.actionbar .settings .option {
  display: flex;
  height: 100%;
  width: 0px;
  line-height: 40px;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: width 0.4s ease, opacity 0.2s ease;
  transition-delay: 0.2s;
}

/* Making sure the active time and currency is visible */
.actionbar .settings .settings-currencies .option.active, .actionbar .settings .settings-time .option.active {
  opacity: 1;
  width: 48px;
}

/* State for picking currency */
.actionbar .settings.set-currency, .actionbar .settings.set-time {
  width: 162px
}

.actionbar .settings.set-currency .settings-currencies {
  width: 144px;
}

.actionbar .settings.set-currency .settings-currencies .option {
  width: 48px;
  opacity: 1;
}

.actionbar .settings.set-currency .settings-time .option, .actionbar .settings.set-currency .divider {
  width: 0 !important;
}

/* State for picking time */
.actionbar .settings.set-time {
  transition: width 1s ease;
}


.actionbar .settings.set-time .settings-time .option {
  width: 48px;
  opacity: 1;
}

.actionbar .settings.set-time .settings-currencies .option, .actionbar .settings.set-time .divider {
  width: 0 !important;
}

/* Token container, holds token items */
.tokenContainer {
  -webkit-overflow-scrolling: touch;
  /* height: calc(100vh - 160px) */
  padding-bottom: 48px;
}

.changeIndicator {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: var(--color-header);
  border-radius: 999px;
}
.tokenItem.positiveChange .changeIndicator {
  padding-bottom: 2px;
}
.tokenItem.negativeChange .changeIndicator {
  padding-top: 2px;
}

/* Token items */
.tokenItem {
  position: relative;
  display: flex;
  width: 100%;
  height: 96px;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-bottom: 1px solid var(--color-divider);
  opacity: 0;
  animation: fadeInUp 0.4s ease;
  animation-fill-mode: forwards;
}

.tokenItem-icon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-color: var(--color-header);
  background-size: contain;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: 16px;
}

.tokenItem-leftContent {
	flex:  1 1 auto;
  display:  flex;
  flex-direction: column;
}

.tokenValue {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

.tokenName,
.tokenSymbol {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.tokenSymbol {
  opacity: 0.5;
  margin-left: 4px;
}

.tokenChange {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}

.button span {
  opacity: 1;
  transition: all 0.3s ease;
}

/* All tokens list with all the tokens so user can add tokens to the list */
.allTokens-container {
  pointer-events: none;
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(120vh);
  overflow-y: scroll;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,12);
}

.allTokens-container form {
  /* Making room for close button */
  width: calc(100% - 16px);
  height: 64px;
  background-color: var(--color-header);
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 999px;
}

.allTokens-container form input {
  border: 0px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: transparent;
}
.allTokens-container form input:focus {
  outline: none;
}

.allTokens-list .allTokenItem {
  height: 56px;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  align-items: center;
}

.allTokenItem .allTokenItem-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: block;
  background-size: cover;
  border-radius: 99px;
}

.allTokenItem .button-addToken {
  margin-left: auto;
}

/* Adding tokens */
body.addingTokens {
  overflow: hidden;
}
.addingTokens .allTokens-container {
  pointer-events: all;
}